*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
}

body,
input,
textarea{
    font-family: 'EB Garamond', serif;
    font-weight: normal;
}

header img{
    height: 55px;
}

header{
    padding: 16px 0;
    background-color: rgb(244, 214, 212);
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 20px;

}

header nav li a{
    color: rgb( 139, 81, 77);
    text-decoration: none;
}

header nav li a:hover{
    text-decoration: underline;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section img,
section video{
    height: 400px;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 7px;
}

section div h2{
    margin-top: 15px;
    margin-bottom: 15px;
}

section div p {
    margin-top: 8px;
    margin-bottom: 8px;
}

section div ul li{
    display: inline;
}

form input,
form button,form textarea{
    display: block;
    width: 300px;
    margin-bottom: 8px;
    padding: 8px;
}

#Contatos .container{
    display: block;
}

#Contatos .metodos-contato{
    display: flex;
    justify-content: space-around;
}

form textarea {
    resize: none;
    height: 150px;
    
}

#Contatos .container .rede-social img{
    display: block;
    height: 50px;
    
}

form button{
    background-color: rgb(244, 214, 212);
    color:rgb( 139, 81, 77) ;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: rgb(245, 168, 163);
}

footer{
    background-color:rgb(244, 214, 212);
    padding: 10px 0;
    margin-top: 30px;
}



